# Binaries for programs and plugins
teambition-index
*.exe
*.exe~
*.dll
*.so
*.dylib
*.db
*.bin
/release/
/dist/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Development enviroment
.idea/*
uploads/*
temp
.vscode/*

# Version control
version.lock

# Config file
*.ini
conf/conf.ini
/statik/
/vendor

# log
*.log
